/* General settings */

* {
  /* https://docs.gtk.org/gtk3/css-overview.html#colors */
  color: @white;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 10pt;
  font-weight: bold;
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar {
  background-color: black;
}

#workspaces button {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0;
  padding-right: 0;
}

#mode {
  background-color: alpha(blue, 0.5);
}

#mode,
#tray,
#custom-swaync,
#pulseaudio {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#battery {
  margin-left: 5px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 55px;
}

/* Other settings */

tooltip {
  background: black;
}

tooltip label {
  color: @white;
}

#workspaces button.focused {
  color: @black;
  background-color: alpha(@blue, 0.5);
}

#workspaces button:hover,
#custom-swaync:hover,
#pulseaudio:hover {
  background-color: @gutter-grey;
}


#battery.charging,
#battery.full,
#battery.plugged {
  color: @green;
}

/* Animations  */

@keyframes blink_white {
  to {
    background-color: @white;
    color: @black;
  }
}

.warning,
.critical,
.urgent {
  animation-name: blink_white;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: 8;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 6;
  animation-direction: alternate;
}
